.space-top {
  margin-top: 1em; }

.space-btm {
  margin-bottom: 1em; }

.row-cta {
  display: block;
  clear: both;
  padding-top: 3em; }
  .row-cta .btn {
    margin-bottom: 15px; }

html {
  height: 100%;
  width: 100%;
  background: #ccc; }

body {
  font-family: "Museo Slab", "museo-slab", "Georgia", "Times New Roman", Times, serif;
  font-size: 16px;
  overflow-x: hidden;
  color: #2a3237; }

.container {
  position: relative;
  z-index: 1; }

section {
  position: relative; }

.content-block {
  padding-top: 6em;
  padding-bottom: 6em; }

#info .content-block {
  padding-top: 0;
  padding-bottom: 3em; }
  @media (min-width: 768px) {
    #info .content-block {
      padding-top: 2em;
      padding-bottom: 10em; } }

.blink {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 4px;
  height: 50px;
  height: 5vh;
  margin: 0 10px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "League Gothic", "league-gothic", Helvetica, Arial, sans-serif;
  position: relative;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

.header {
  text-transform: uppercase;
  color: #415A68;
  margin-bottom: 0.3em;
  font-size: 34px; }
  @media (min-width: 768px) {
    .header {
      font-size: 60px; } }

.sub-header {
  font-family: "League Gothic", "league-gothic", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  font-size: 16px;
  line-height: 21px;
  color: #8a8e91;
  font-weight: 300; }

ul.white-list {
  padding: 0;
  list-style-type: none; }

ul.white-list li {
  font-size: 18px;
  margin: 10px 0;
  color: #fff; }

ul.white-list li:before {
  content: ' ';
  position: relative;
  top: -3px;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 15px;
  background: white; }

a {
  text-decoration: none;
  color: #415A68;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  a:hover {
    cursor: pointer; }

.btn-main {
  background-color: transparent;
  border: 2px solid #50E3C2;
  border-radius: 50px;
  color: #50E3C2;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 12px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (min-width: 768px) {
    .btn-main {
      padding: 15px 50px; } }
  .btn-main:hover, .btn-main:focus, .btn-main:active {
    background-color: #50E3C2;
    color: #fff; }
  .btn-main.cta {
    display: inline-block;
    background-color: #50E3C2;
    color: #fff;
    border: none; }
    .btn-main.cta:hover {
      background-color: #20c7a1; }

.btn-main-white {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  padding: 15px 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .btn-main-white:hover, .btn-main-white:focus, .btn-main-white:active {
    background-color: #50E3C2;
    color: #fff;
    border-color: #50E3C2;
    text-decoration: none; }

.btn-link {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 300;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .btn-link:hover, .btn-link:focus, .btn-link:active {
    text-decoration: none;
    color: #50E3C2; }
    .btn-link:hover .st0, .btn-link:focus .st0, .btn-link:active .st0 {
      fill: #50E3C2; }
    .btn-link:hover .icon-arrow, .btn-link:focus .icon-arrow, .btn-link:active .icon-arrow {
      -moz-transform: translate(3px, 0);
      -o-transform: translate(3px, 0);
      -ms-transform: translate(3px, 0);
      -webkit-transform: translate(3px, 0);
      transform: translate(3px, 0); }
  @media (min-width: 768px) {
    .btn-link {
      margin-top: 20px; } }

.btn-full {
  width: 100%; }

.btn-link .icon-arrow, .btn-main .icon-arrow, .btn-main-white .icon-arrow {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .btn-link .icon-arrow .st0, .btn-main .icon-arrow .st0, .btn-main-white .icon-arrow .st0 {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-main:hover, .btn-main:focus, .btn-main:active, .btn-main-white:hover, .btn-main-white:focus, .btn-main-white:active {
  text-decoration: none; }
  .btn-link:hover .icon-arrow, .btn-link:focus .icon-arrow, .btn-link:active .icon-arrow, .btn-main:hover .icon-arrow, .btn-main:focus .icon-arrow, .btn-main:active .icon-arrow, .btn-main-white:hover .icon-arrow, .btn-main-white:focus .icon-arrow, .btn-main-white:active .icon-arrow {
    -moz-transform: translate(5px, 0);
    -o-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0); }

.cut-top {
  content: ' ';
  position: absolute;
  z-index: 1;
  top: -80px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 80px solid transparent;
  border-right: 30px solid white; }

.cut-bottom {
  content: ' ';
  position: absolute;
  z-index: 1;
  bottom: -80px;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 80px solid transparent;
  border-left: 30px solid white; }

.preloader {
  position: fixed;
  top: 0;
  z-index: 123456789;
  width: 100%;
  height: 100%;
  background-color: white; }

.preloader img {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px); }

.preloader div {
  top: 30%;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg); }

.loader,
.loader:before,
.loader:after {
  border-radius: 50%; }

.loader:before,
.loader:after {
  position: absolute;
  content: ''; }

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 2em #50E3C2;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease 0.5s;
  animation: load2 2s infinite ease 0.5s; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
nav.navbar {
  position: absolute;
  z-index: 9500;
  width: 100%;
  width: 100vw;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 15px; }
  @media (min-width: 768px) {
    nav.navbar {
      top: 25px; } }
  @media (min-width: 960px) {
    nav.navbar {
      top: 50px; } }
  nav.navbar .navbar-header {
    width: 100%; }

.navbar-brand {
  width: 110px;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .navbar-brand {
      width: 150px; } }
  .navbar-brand:hover .st0, .navbar-brand:focus .st0, .navbar-brand:active .st0 {
    fill: #50E3C2; }
  .navbar-brand svg .st0 {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    fill: #ffffff; }

.navbar .btn-donate {
  margin-top: 2px;
  color: white;
  font-family: "League Gothic", "league-gothic", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 29px;
  vertical-align: top;
  line-height: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  @media (min-width: 768px) {
    .navbar .btn-donate {
      font-size: 36px; } }
  .navbar .btn-donate:hover, .navbar .btn-donate:focus, .navbar .btn-donate:active {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #50E3C2; }
    .navbar .btn-donate:hover .st0, .navbar .btn-donate:focus .st0, .navbar .btn-donate:active .st0 {
      fill: #50E3C2; }
  .navbar .btn-donate .st0 {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    fill: #ffffff; }
  .navbar .btn-donate svg {
    margin-left: 10px;
    width: 27px;
    height: 27px;
    vertical-align: top; }
    @media (min-width: 768px) {
      .navbar .btn-donate svg {
        width: 32px;
        height: 32px; } }

/* Mobile Nav */
.mobile-nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  background: rgba(255, 255, 255, 0.98);
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.mobile-nav.active {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.mobile-nav ul {
  display: table-cell;
  padding: 0;
  list-style: none;
  vertical-align: middle; }

.mobile-nav ul li {
  margin: 25px 0; }

.mobile-nav ul li a:not(.btn) {
  color: #aaa; }

.mobile-nav a.close-link {
  font-size: 24px;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 10px);
  left: 0;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  background: #00a8ff; }

#intro {
  position: relative;
  width: 100%;
  max-width: 100%;
  color: white;
  min-height: 750px;
  max-height: 800px; }
  #intro:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url("../img/bg-dork.jpg");
    background-size: cover;
    background-position: center 100%;
    background-repeat: no-repeat; }
  #intro:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background-color: #78B5CA;
    -webkit-animation-name: color;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-fill-mode: both;
    -webkit-animation-play-state: running;
    -moz-animation: color 20s ease-in-out 1s infinite alternate both running;
    animation: color 20s ease-in-out 1s infinite alternate both running; }

@-webkit-keyframes color {
  0% {
    background-color: #78B5CA; }
  25% {
    background-color: #CA767F; }
  50% {
    background-color: #29ADA8; }
  75% {
    background-color: #F9D085; }
  100% {
    background-color: #6B81B2; } }
@-moz-keyframes color {
  0% {
    background-color: #78B5CA; }
  25% {
    background-color: #CA767F; }
  50% {
    background-color: #29ADA8; }
  75% {
    background-color: #F9D085; }
  100% {
    background-color: #6B81B2; } }
@keyframes color {
  0% {
    background-color: #78B5CA; }
  25% {
    background-color: #CA767F; }
  50% {
    background-color: #29ADA8; }
  75% {
    background-color: #F9D085; }
  100% {
    background-color: #6B81B2; } }
#intro .table {
  display: table;
  height: 100%; }

#intro .container {
  height: 100%; }

#intro .header-text {
  display: table-cell;
  text-align: center;
  color: white;
  vertical-align: middle;
  padding-top: 100px; }
  @media (min-width: 768px) {
    #intro .header-text {
      vertical-align: middle;
      padding-top: 160px;
      padding-bottom: 0; } }
  #intro .header-text .tagline {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 44px; }
    @media (min-width: 768px) {
      #intro .header-text .tagline {
        font-size: 64px; } }
  #intro .header-text .tagline-text {
    color: #ffffff;
    display: none; }
    @media (min-width: 768px) {
      #intro .header-text .tagline-text {
        display: block;
        max-width: 420px;
        margin: 0 auto; } }
  #intro .header-text .cta {
    margin-top: 0.5em; }
    @media (min-width: 768px) {
      #intro .header-text .cta {
        margin-top: 2em; } }

.intro-tables {
  top: -70px;
  position: relative; }
  @media (min-width: 768px) {
    .intro-tables {
      top: -100px; } }

.intro-tables img {
  display: block;
  width: 100%;
  margin: 0 auto; }

.intro-table-hover img {
  width: 150px;
  margin-top: -11px;
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px); }
  @media (min-width: 768px) {
    .intro-table-hover img {
      width: 305px;
      margin-top: 41px;
      transform: translateX(365px);
      -webkit-transform: translateX(365px); } }

.loaded .intro-table-hover img {
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  @media (min-width: 768px) {
    .loaded .intro-table-hover img {
      transform: translateX(70);
      -webkit-transform: translateX(70px); } }

.intro-table-first img {
  width: 200px;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 1; }
  @media (min-width: 768px) {
    .intro-table-first img {
      width: 100%;
      margin: 0; } }

.intro-table-first video {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 820px; }

.intro-table-third img {
  position: relative;
  transform: translateX(-365px);
  -webkit-transform: translateX(-365px);
  max-width: 305px;
  margin-top: 41px;
  z-index: -1; }

.loaded .intro-table-third img {
  transform: translateX(-70);
  -webkit-transform: translateX(-70px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.intro-table {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: repeat;
  background-position: 0% 0%; }

#video-controls {
  position: absolute;
  background-color: #243139;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 10000;
  border-radius: 3px; }
  #video-controls:hover {
    cursor: pointer; }
  #video-controls:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../img/btn-play.png");
    background-repeat: no-repeat;
    background-position: center center; }

#about {
  position: relative;
  background-image: url("../img/bg-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 1em 0 3em; }
  @media (min-width: 768px) {
    #about {
      padding: 14em 0; } }
  #about:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #4A4A4A;
    opacity: 0.64; }
  #about header {
    text-align: center;
    padding: 4em 0; }
  #about .header {
    color: #fff;
    margin-bottom: 0; }
  #about .sub-heading {
    color: #fff; }
  #about p {
    color: #fff; }
  #about .btn-link {
    margin-top: 2em; }

#help {
  position: relative;
  overflow: hidden;
  padding: 4em 0; }
  #help:before {
    display: none; }
    @media (min-width: 768px) {
      #help:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-position: -120px 10px;
        background-image: url("../img/bg-girl-700.jpg");
        background-repeat: no-repeat; } }
    @media (min-width: 960px) {
      #help:before {
        background-position: 20% 30px; } }
  @media (min-width: 768px) {
    #help {
      padding: 14em 0; } }

/* Footer */
footer {
  padding: 3em 0 2em;
  background-color: #415A68;
  color: #fff; }
  footer p {
    font-size: 11px;
    opacity: 0.8;
    color: #fff; }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #50E3C2; }

footer .bottom-footer {
  color: #fff; }

footer .social-footer {
  padding: 0;
  list-style: none; }

footer .social-footer li {
  display: inline-block;
  margin: 0 10px; }

footer .social-footer li a {
  font-size: 24px;
  color: #fff; }

footer .social-footer li:hover a {
  color: #50E3C2; }
