// buttons.scss

// .btn {
// 	display: inline-block;
// 	padding: 15px 30px;
// 	color: white;
// 	border: none;
// 	border-radius: 2px;
// 	background: transparent;
// 	@include transition(0.2s);
// }

.btn-main {
	background-color: transparent;
	border: 2px solid $brand-accent;
	border-radius: 50px;
	color: $brand-accent;
	font-weight: 500;
	letter-spacing: 0.03em;
	padding: 12px;

	@include screen-sm { padding: 15px 50px; }
	margin-left: 5px; margin-right: 5px; margin-bottom: 15px;
	// Smooth out headers
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	&:hover, &:focus, &:active {
		background-color: $brand-accent;
		color: #fff;
	}

	&.cta {
		display: inline-block;
		background-color: $brand-accent;
		color: #fff;
		border: none;

		&:hover { background-color: darken($brand-accent, 15%); }
	}
}

.btn-main-white {
	display: inline-block;
	border: 2px solid #fff;
	border-radius: 50px;
	color: #fff;
	font-weight: 500;
	padding: 15px 25px;
	// Smooth out headers
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	&:hover, &:focus, &:active {
		background-color: $brand-accent;
		color: #fff;
		border-color: $brand-accent;
		text-decoration: none;
	}
}


// Learn more about Oasis
.btn-link {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 15px;

	color: #fff;
	font-weight: 300;
	@include transition(0.2s);

	&:hover,&:focus,&:active {
		text-decoration: none;
		color: $brand-accent;

		.st0 {
			fill: $brand-accent;
		}

		.icon-arrow {
			@include translate(3px, 0);
		}
	}

	// Add some margin for large displays
	@include screen-sm {
		margin-top: 20px;
	}

}

.btn-full { width: 100%; }

// Icon with link text
.btn-link, .btn-main, .btn-main-white {

	.icon-arrow {
		display: inline-block;
		width: 25px;
		height: 25px;
		vertical-align: middle;
		margin-left: 10px;
		@include transition(0.3s);

		// Add transition to svg inline with link
		.st0 { @include transition(0.2s); }
	}

	&:hover,&:focus,&:active {
		text-decoration: none;

		// .st0 { fill: $brand-accent; }

		.icon-arrow { @include translate(5px, 0); }
	}

}