// footer.scss

/* Footer */

footer {
	padding: 3em 0 2em;
	// background: url('../img/footer.jpg');
	background-color: $brand-color7;
	color: #fff;

	p {
		font-size: 11px;
		opacity: 0.8;
		color: #fff;
	}

	a {
		color: #fff;
		&:hover { color: $brand-accent; }
	}
}




footer .bottom-footer {
	color: #fff;
}

footer .social-footer {
	padding: 0;
	list-style: none;
}

footer .social-footer li {
	display: inline-block;
	margin: 0 10px;
}

footer .social-footer li a {
	font-size: 24px;
	color: #fff;
}

footer .social-footer li:hover a {
	color: $brand-accent;
}
