// nav.scss


// Nav
nav.navbar {
	position: absolute;
	z-index: 9500;
	width: 100%;
	width: 100vw;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	top: 15px;

	@include screen-sm { top: 25px; }
	@include screen-md { top: 50px;	}

	.navbar-header { width: 100%; }

}


// Logo
.navbar-brand {
	width: 110px;

	@include screen-sm {
		width: 150px;
	}

  padding: 0 15px;
	&:hover,&:focus,&:active {
		.st0 { fill: $brand-accent; }
	}

	svg .st0 {
		@include transition(0.2s);
		fill: #ffffff;
	}

}

// Donate
.navbar .btn-donate {
	margin-top: 2px;
	color: white;
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	font-size: 29px;

	@include screen-sm {
		font-size: 36px;
	}
	vertical-align: top;
	line-height: 1;
	@include transition(0.3s);

	&:hover,&:focus,&:active {
		@include scale(1.1);
		color: $brand-accent;
		.st0 { fill: $brand-accent; }
	}

	.st0 {
		@include transition(0.3s);
		fill: #ffffff;
	}

	svg {
		margin-left: 10px;

		width: 27px;
		height: 27px;

		@include screen-sm {
			width: 32px;
			height: 32px;
		}
		vertical-align: top;
	}
}



