// type.scss


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-sans-serif;
	position: relative;
	margin: 0;
	// Smooth out headers
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 { font-size: 60px; }
h2 { font-size: 48px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }


// Main heading style
.header {
	text-transform: uppercase;
	color: $brand-color7;
	margin-bottom: 0.3em;
	font-size: 34px;
	@include screen-sm {
		font-size: 60px;
	}

}

.sub-header {
	font-family: $font-family-sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	// Smooth it out
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p {
	font-size: 16px;
	line-height: 21px;
	color: #8a8e91;
	font-weight: 300;
}


ul.white-list {
	padding: 0;
	list-style-type: none;
}

ul.white-list li {
	font-size: 18px;
	margin: 10px 0;
	color: #fff;
}

ul.white-list li:before {
	content: ' ';
	position: relative;
	top: -3px;
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 15px;
	background: white;
}


a {
	text-decoration: none;
	color: $brand-color7;
	@include transition(0.2s);

	&:hover {
		cursor: pointer;
	}
}